{% extends 'base.html.twig' %} {% block title %}Réinitialisation {% endblock %}
{% block body %}

<section class="container mx-auto">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">Réinitialisationde mot de passe</h2>
      {{ form_errors(form) }}
      {{ form_start(form) }}
      {{ form_row(form.email) }}
      <button type="submit" class="w-full btn-info">Envoyer</button>
      {{ form_end(form) }}
    </div>
  </div>
</section>

{% endblock %}
