{% extends 'base.html.twig' %} {% block title %}Nouveau mot de passe {% endblock
%} {% block body %}

<main class="form-signin w-100 m-auto">
  <section class="container my-3">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center">Nouveau mot de passe</h2>
        {{ form_errors(form_reset) }}
        {{ form_start(form_reset) }}
        {{ form_row(form_reset.password) }}
        <button type="submit" class="btn btn-primary">Envoyer</button>
        {{ form_end(form_reset) }}
      </div>
    </div>
  </section>
</main>
{% endblock %}
