@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-info {
    @apply px-4 py-2 bg-blue-500 hover:bg-blue-600 text-white rounded;
  }

  /** Form classes **/
  .form-row {
    @apply mb-2 flex gap-4;
  }

  .form-label {
    @apply font-semibold w-1/4;
  }

  .form-field {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-md 
    focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700
     dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
  }

  .form-checkbox {
    @apply rounded border-2 border-gray-200;
  }
}

@media only screen and (min-width: 768px) {
  .parent:hover .child {
    opacity: 1;
    height: auto;
    overflow: none;
    transform: translateY(0);
  }
  .child {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transform: translateY(-10%);
  }
}
